<div class="center jumbotron">
    <h1>Welcome to Contracts</h1>
    
    <h2>This is the homepage</h2>
    
    
    <%= link_to "sign up now", register_path, class: "btn btn-lg btn-success" %> 
</div>

<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">View contracts as Guest</h3>
        <h2 class="left">Browse and view contracts as guest and sign up later</h2>
        <p><%= link_to "Browse Contracts", contracts_path, class: "btn btn-warning btn-small" %></p>
    </div>
      <div class="col-lg-4">
        <h3 class="midrow">Sign In</h3>
        <h2 class="left">Create and Edit Your Contracts</h2>
        <p><%= link_to "Log In", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">View contracts as Guest</h3>
        <h2 class="left">Browse and view contracts as guest and sign up later</h2>
        <p><%= link_to "Browse Contracts", "", class: "btn btn-warning btn-small" %></p>
    </div>
</div>