<div class="center jumbotron">
    <div class="jbutton">
      <%= link_to "sign up now", register_path, class: "btn btn-lg btn-danger" %> 
    </div>
</div>

<div id="mid_block">
    <div id="inner_left">
        <h1>Manage, Upload and Download Contracts</h1>
        <p>Manage and review HSE Contracts on the go with our new Web Service for HSE Procurement staff - Doc Base.<br/>We hae created a respository of contract information for use for our staff on the go and when out of the office.<br/> The rollout of Doc Base now means that even when you're not in hte office, you dont have to be away from the office. </p>
    </div>
    <div id="inner_right"></div>
    
</div>

<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">View contracts as Guest</h3>
        <h2 class="left">Browse and view contracts as guest and sign up later</h2>
        <p><%= link_to "Browse Contracts", contracts_path, class: "btn btn-primary btn-small" %></p>
    </div>
      <div class="col-lg-4">
        <h3 class="midrow">Sign In</h3>
        <h2 class="left">Create and Edit Your Contracts</h2>
        <p><%= link_to "Log In", login_path, class: "btn btn-primary btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">View contracts as Guest</h3>
        <h2 class="left">Browse and view contracts as guest and sign up later</h2>
        <p><%= link_to "Browse Contracts", "", class: "btn btn-primary btn-small" %></p>
    </div>
</div>