$navbar-default-bg: #312312;
$light-orange: #ff8cfa;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

body{
padding-top:110px;
}

.btn{
    max-width:300px;
}
.navbar{
    background: url('/EhYKSby.png');
}
h1,h2,h3,h4 {
line-height:1;
}

h1{
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

h2{
font-size: 1.2em;
font-weight: normal;
color: #363636;
margin-bottom: 30px;
text-align: center;

}

p {
    	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}


#logo {
margin-top: 10px;
margin-bottom:10px;
float: left;
margin-right:10px;
font-size: 2em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight:bold;

}

#logo:hover{
color:#ff0000;
text-decoration:none;
}

.nav_item{
margin-left: 25px;
float: left;
margin-top: 20px;
}

.nav_ul_item{
    padding-left: 25px;
float: left;
margin-top: 20px;
    
}

.center{
    text-algin: center;
    
}

.left{
    text-align: left;
    letter-spacing: 5px;
    
}

.footer{
margin-top:25px;
border-top:1px solid #eaeaea;
color: #666;
background: #333;
padding-bottom: 30px;
}

.user_info{
    margin-top:10px;
    
}

.gravatar{
    border-radius:50px;
    
}

.well {
    background-color: #ededed;
    
}

input, textarea, select, .uneditable-inpt {
 border: 1px solid #d2d2d2;
 border-radius: 5px;
 width: 100%;
 margin-bottom: 15px;
}

.input_checkbox{
    width: auto !important;
}

.checkbox {
margin-right:30px;    

}

input{
    height: auto !important;
    }
    
span.picture{
    margin-top:10px;

}


.show.contract{
    margin: 10px 10px 10px 10px;
}

.jumbotron {
    margin-top: 30px;
    background: #fff url('/contract-details-on-the-go.jpg') no-repeat;
    width:100%;
    height:320px;
    padding-top:60px;
    
}

.jbutton{
    margin-left: auto;
    margin-right: auto;
   
    
}

#mid_block{
    width: 100%;
    height: 300px;
    overflow: none;
    margin-bottom: 30px;
}

#inner_left{
    width: 60%;
    height: 290px;
    overflow: none;
    float: left;
    
}

#inner_left h1 {
   
	font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 18px;

}


#inner_left p {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

#inner_right{
    width: 36%;
    height: 290px;
    overflow: none;
    float: right;
    margin-left: 2%;
    background: #fff url('/Unfinished-Business-3.jpg') no-repeat;
}

.foothead {
    font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 18px;
	color: #fff;
}