<div class="footer">
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 class="foothead">About Us</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
         
        </div>
        <div class="col-md-4">
          <h2 class="foothead">Contact Us</h2>
           <p>HSE Procurement<br>
           Dr Steevens Hospital<br>
           Dublin<br>
           (01) 635 2390
             
           </p>
         
       </div>
        <div class="col-md-4">
          <h2 class="foothead">Tweet Us</h2>
          <a class="twitter-timeline" href="https://twitter.com/shanesignals" data-widget-id="621421530107506689">Tweets by @shanesignals</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
  &copy; Doc Base - Shane Carr - 14120186 - NCI 2015
</div>
